.cabecario {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    -webkit-text-stroke: 5px black;
    paint-order: stroke fill;
    text-transform: uppercase;

    background-color: crimson;
    width: 100%;
    height: 10vh;
    border: 2px solid black;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.entrada {
    background-color: darkgrey;
    display: flex;
    justify-content: left;
    align-content: center;
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;

    height: 8vh;

    font-family: 'Roboto', sans-serif;
}

.nome {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;

    height: 8vh;
    width: 60vh;

    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.ilustracao {
    background-color: darkgray;
    border: 2px solid black;
    border-radius: 5px;
    height: 60vh;
    width: 60vh;
    display: flex;
    justify-content: center;
    image-rendering: pixelated;
    
}